:root {
  --main-bg-color: white;
  --main-color: rgba(55, 53, 47, 0.5);
  --fractura-color: #FDEBEC;
  --extraccion-color: #e7f3f8;
  --restauracion-color:#fbd3bd; 
  --hover-color: #d3fbbd;
}

html * {
  font-family: sans-serif;
  color: var(--main-color);
}

svg {
  cursor: url("../assets/muelita36.png"), auto;
}

.btnSvg {
  display: inline-block;
  height: 52px;
}
  

path {
  fill:   var(--main-bg-color);
  stroke: var(--main-color);
}

path:hover {
  fill: var(--hover-color);
}

.numero {
  margin: 0;
  text-align: center;
  font-family: inherit;
  font-size: 10px;
}

#contenedor {
  display: flex;
}

#pronostico {
  display: inline-grid;
  overflow: hidden;
  border: 15px;

}

.pronostico_input {
  display: none;
}



.pronostico_label {
  display: flex;
  font-size: 14px;
  color: var(--main-color);
  background: white;
  cursor: url("../assets/muelita36.png"), auto;
  transition: background 0.1s;
  margin: 2px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  height: 32px;
  padding: 8px 12px;
  align-items: center;
  justify-content: center;
  
}

#formulario {
  display: inline-grid;
  overflow: hidden;
  border: 15px;
}

#guardar_boton {
  display:flex;
  padding: 8px 12px;
  font-size: 14px;
  color: var(--main-color);
  background: white;
  cursor: url("../assets/muelita36.png"), auto;
  transition: background 0.1s;
  margin: 2px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  height: 32px;
  align-items: center;
  justify-content: center;


}

.pronostico_input:checked[value="fractura"] + .pronostico_label {
  background: var(--fractura-color);
}

.pronostico_input:checked[value="extraccion"] + .pronostico_label {
  background: var(--extraccion-color);
}

.pronostico_input:checked[value="restauracion"] + .pronostico_label {
  background: var(--restauracion-color);
}
